h1{
	color: white;
	font-size: 350%;
	text-align: center;
	background-color: #800000;
	border-radius: 20px;
	border: solid;
	border-color: black;
	border-width: 6px;
	margin: 10px;
	height:17%;
	padding-top: 10%;
}
body{
	height: 100%;
	background: -webkit-linear-gradient(gray, white);
	background-repeat: no-repeat;
	margin: 0;

}
button{
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-color: #800000;
	background-color: white;
	display: block;
	border-radius: 50px;
	width: 50%; 
	height: 20%;
	margin: auto;
	margin-bottom: 1%;
	color: #800000;
	font-size: 100%;
	font-weight: 700;
	margin-top: 3%;
	border-width: 10px;
}
button:hover{
	background-color: #800000;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:active {
  background-color: #800000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#formTitle {
	
	color: #800000;
	margin: 5px;
}
form {
	margin: 5px;
	color: #800000;
}

#sportsForm{
	
}
h2{
	font-weight: 100;
	font-size: 30;
	margin-bottom: -10px; 
	margin-left: 36%;

}
#firstName{
	border: solid;
	border-width: 3px;
	border-radius: 10px;
	border-color: #800000;
	margin-left: 36%;
	margin-bottom: -30px;
	font-size:30px;
}

#lastName{
	border: solid;
	border-width: 3px;
	border-radius: 10px;
	border-color: #800000;
	margin-left: 36%;
	margin-bottom: -30px;
	font-size: 30px;
}

#phoneNumber{
	border: solid;
	border-width: 3px;
	border-radius: 10px;
	border-color: #800000;
	margin-left: 36%;
	margin-bottom: -30px;
	font-size: 30;
}
#gender{
	margin-left: 36%;
	margin-top: 5%;
	font-size: 20;
}
#male,#female{
	font-size: 30;
}

.sport, .radLabel {
	margin-left: 36%;
	margin-bottom: 3%;
	font-size: 30;
}
.sportDiv {
	display: block;
}
#legend{
	font-weight:bold;
	font-size: 23px;
}
h4{
	
	text-decoration: underline;
	margin-left: 40%; 
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 30;
}
#position{
	border: solid;
	border-width: 3px;
	border-radius: 10px;
	border-color: #800000;
	margin-left: 36%;
	font-size: 30;


}
h5{
	font-weight: 100;
	font-size: 16;
	margin: -5px; 
	padding-left: 37%;
	font-size: 30;

}

#sBackBtn{
	
		-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-color: #800000;
	background-color: white;
	display: inline-block;
	border-radius: 7px;
	width: 20%; 
	height: 8%;
	color: #800000;
	display: inline-block;
	width: 15%; 
	height: 5%;
	font-size: 18;
	font-weight: bold;
}
#sBackBtn:hover{
	background-color: #800000;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


}
#submitBtn:active {
  background-color: #800000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#submitBtn{
		-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-color: #800000;
	background-color: white;
	display: inline-block;
	border-radius: 7px;
	width: 20%; 
	height: 8%;
	color: #800000;
	font-size: 18;
	font-weight: 700;
	margin-left: 22%;
	margin-top: 3%;
	border-width: 4px; 
}
#submitBtn:hover{
	background-color: #800000;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#submitBtn:active {
  background-color: #800000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#hiddenIframe{
	height: 0px;
}
#backBtn{
		-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-color: #800000;
	background-color: white;
	color: #800000;
	display: inline-block;
	margin-top: 6%;
	margin-left: 0px;
	height: 5%;
	width: 15%;
	border-radius: 7px;
	font-size: 18;
	font-weight: bold;
}
#backBtn:hover{
	background-color: #800000;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#backBtn:active {
  background-color: #800000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 .addBtn{
 		-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
 	display: inline-block;
 	margin: auto;
 	margin-top: 1%;
 	height: 100%;
 	width: 75%;
 	border-color: #800000;
 	border-radius: 8px;
 	color: #800000;
 	background-color: white;
 	font-size: 200%;
 	font-weight: bold;
 	border-width: 4px;
 }

 .addBtn:hover{
	background-color: #800000;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.addBtn:active {
  background-color: #800000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

 h3{

 	color: #800000;
 	font-size: 25;
 	
 }

 #box-header {
    border: 0;
    padding: 0%;
    display: table;
    width: 100%;
    height: 10%;
    margin-bottom: 5%;
    content: 0%;
}
#left-cell {
    display: table-cell;
    vertical-align: middle;
    width: 12%;
    text-align:center;
    padding-top: 2%;


}
#right-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    height: 100%;
    width: 20%;
    padding: 0%;

   }
   #editBtn{
   	margin-left: 30%;
   }

   #myCalendar{
   	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-color: #800000;
	background-color: white;
	display: block;
	border-radius: 7px;
	width: 90%; 
	height: 20%;
	margin: auto;
	margin-bottom: 20px;
	color: #800000;
	font-size: 25;
	font-weight: 700;
	margin-top: 5%;
	border-width: 6px 
}
#myCalendar:hover{
	background-color: #800000;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#myCalendar:active {
  background-color: #800000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
   }

 #table{
 	border: solid;
 	width: 100%;
 	height: 10%;
 	margin-bottom: 4%;
 	border-color: #800000;
 	color: #800000;
 	font-weight: bold;
 }
#myCalendar{
	font-size: 50;
}
#MCbackBtn{
	
		-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-color: #800000;
	background-color: white;
	display: inline-block;
	border-radius: 7px;
	width: 20%; 
	height: 8%;
	color: #800000;
	display: inline-block;
	width: 15%; 
	height: 5%;
	font-size: 18;
	font-weight: bold;
}
#MCbackBtn:hover{
	background-color: #800000;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


}
#MCbackBtn:active {
  background-color: #800000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#header{
	text-decoration: underline;
	color: #800000;
}
.link{
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-color: #800000;
	background-color: white;
	display: block;
	border-radius: 50px;
	width: 50%; 
	height: 15%;
	margin: auto;
	margin-bottom: 2%;
	color: #800000;
	font-size: 100%;
	font-weight: 700;
	border-width: 10px;
}
.link:hover{
	background-color: #800000;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


}
.link:active {
  background-color: #800000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#dCode{
	text-align: right;
	color: #800000
}

#scheduleDIV{
	
	border: solid;
	font-size: 60%;
	width: 6%;
	margin: auto;
	margin-top: 2%;
	border-radius: 7px;
}
.noselect {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;   
  -khtml-user-select: none;    
  -moz-user-select: none;      
  -ms-user-select: none;       
  user-select: none;  
}

#authorize-button{
	
		-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-color: #800000;
	background-color: white;
	display: inline-block;
	border-radius: 7px;
	border-width: 2px;
	width: 15%; 
	height: 8%;
	color: #800000;
	display: inline-block;
	width: 15%; 
	height: 5%;
	font-size: 16;
	font-weight: bold;
	margin-left: 42%;
}
#authorize-button:hover{
	background-color: #800000;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


}
#authorize-button:active {
  background-color: #800000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}