h1{
	color: white;
	font-size: 75;
	text-align: center;
	background-color: #800000;
	border-radius: 8px;
}
body{
	height: 100%;
	background: -webkit-linear-gradient(gray, white);
}
button{
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-color: #800000;
	background-color: white;
	display: block;
	border-radius: 7px;
	width: 50%; 
	height: 20%;
	margin: auto;
	margin-bottom: 20px;
	color: #800000;
	font-size: 25;
	font-weight: 700;
}
button:hover{
	background-color: #800000;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:active {
  background-color: #800000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#formTitle {
	
	color: #800000;
	margin-bottom: 5px;
}
form {
	
	color: #800000;
}

#sportsForm{
	
}
h2{
	font-weight: 100;
	font-size: 16;
	margin-bottom: -10px; 
	margin-left: 36%;

}
#firstName{
	margin-left: 36%;
}

#lastName{
	margin-left: 36%;
}

#phoneNumber{
	margin-left: 36%;
}
#gender{
	margin-left: 36%;
}

#sport{
	margin-left: 35%;
	margin-bottom: 1%;
}
#legend{
	text-align: ;
}
h4{
	text-align: center;
	text-decoration: underline;
	margin-bottom: 0px;
}
#position{
	margin-left: 36%;

}
h5{
	font-weight: 100;
	font-size: 16;
	margin: -5px; 
	padding-left: 37%;

}
#submitBtn{
		-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-color: #800000;
	background-color: white;
	display: block;
	border-radius: 7px;
	width: 15%; 
	height: 5%;
	margin: auto;
	margin-top: 5px;
	color: #800000;
	font-size: 14;
	font-weight: 700;
}
#submitBtn:hover{
	background-color: #800000;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#submitBtn:active {
  background-color: #800000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#hiddenIframe{
	width: -1000%;
	height: -1000%;
}