h1{
	color: white;
	font-size: 75;
	text-align: center;
	background-color: #800000;
	border-radius: 8px;
	margin: 10px;
}
body{
	height: 100%;
	background: -webkit-linear-gradient(gray, white);
}
button{
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-color: #800000;
	background-color: white;
	display: block;
	border-radius: 7px;
	width: 50%; 
	height: 20%;
	margin: auto;
	margin-bottom: 20px;
	color: #800000;
	font-size: 25;
	font-weight: 700;
	margin-top: 5%;
}
button:hover{
	background-color: #800000;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:active {
  background-color: #800000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#formTitle {
	
	color: #800000;
	margin: 5px;
}
form {
	margin: 5px;
	color: #800000;
}

#sportsForm{
	margin: 0px;
}
h2{
	font-weight: 100;
	font-size: 16;
	margin-bottom: -10px; 
	margin-left: 36%;

}
#firstName{
	border: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: #800000;
	margin-left: 36%;
	margin-bottom: -30px;
}

#lastName{
	border: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: #800000;
	margin-left: 36%;
	margin-bottom: -30px;
}

#phoneNumber{
	border: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: #800000;
	margin-left: 36%;
	margin-bottom: -30px;
}
#gender{
	margin-left: 36%;
}

#sport{
	margin-left: 36%;
	margin-bottom: 1%;
}
#legend{
	font-weight:bold;
}
h4{
	
	text-decoration: underline;
	margin-left: 40%; 
	margin-top: 20px;
	margin-bottom: 5px;
}
#position{
	border: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: #800000;
	margin-left: 36%;

}
h5{
	font-weight: 100;
	font-size: 16;
	margin: -5px; 
	padding-left: 37%;

}

#sBackBtn{
	
		-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-color: #800000;
	background-color: white;
	display: inline-block;
	border-radius: 7px;
	width: 20%; 
	height: 8%;
	color: #800000;
	display: inline-block;
	width: 15%; 
	height: 5%;
	font-size: 18;
	font-weight: bold;
}
#sBackBtn:hover{
	background-color: #800000;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


}
#submitBtn:active {
  background-color: #800000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#submitBtn{
		-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-color: #800000;
	background-color: white;
	display: inline-block;
	border-radius: 7px;
	width: 20%; 
	height: 8%;
	color: #800000;
	font-size: 18;
	font-weight: 700;
	margin-left: 22%;
}
#submitBtn:hover{
	background-color: #800000;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#submitBtn:active {
  background-color: #800000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#hiddenIframe{
	height: 0px;
}
#backBtn{
		-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-color: #800000;
	background-color: white;
	color: #800000;
	display: inline-block;
	margin-top: 28%;
	margin-left: 0px;
	height: 5%;
	width: 15%;
	border-radius: 7px;
	font-size: 18;
	font-weight: bold;
}
#backBtn:hover{
	background-color: #800000;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#backBtn:active {
  background-color: #800000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);